nav {
    display: flex;
    position: sticky;
    top: 0px;
    border: 1px solid red;
    background-color: rgb(255, 242, 233);
}

nav div {
    border: 1px solid red;
    display: flex;
}

nav div img {
    width: 6em;
    height: auto;
}

.profile {
    flex-direction: column;
}

.profile h1 {
    margin: 0;
}

.presentation {
    text-align: center;
    border: 1px solid blue;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* add bg img */
}

.presentation p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.nav_scolaire {
    display: none;
}

.nav_extra_scolaire {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

section {

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;

    text-align: center;
}

section article {
    margin-bottom: 3em;
}

section article button {
    display: flex;
    border: 1px solid orange;
    width: 95%;
}

section article button img {
    width: 40em;
    height: 25em;
}

section article button div {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

section article button img,p{
    border: 1px solid purple;
}