:root {
    --nav-bg: rgb(252, 255, 255);
    --bg: rgb(255, 255, 255);
}

body {
    background-color: var(--bg);
}

nav {
    display: flex;
    position: sticky;
    top: 8px;
    border: 1px solid black;
    background-color: var(--nav-bg);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

nav div {
    border: 1px solid black;
    display: flex;
    flex: 1;
    text-align: center;
}

nav div a {
    margin-left: auto;
    margin-right: auto;
}



nav div img {
    width: 6em;
    height: auto;
}

.profile {
    flex-direction: column;
}

.profile h1 {
    margin: 0;
}

.presentation {
    text-align: center;
    /* border: 1px solid blue;*/
    width: 95%;
    margin: 10px auto;
    /* add bg img */
}

.presentation p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
}

section {

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid green;*/

    text-align: center;
}

section article {
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

section article button {
    display: flex;
    /*border: 1px solid orange;*/
    width: 100%;
}

section article button img {
    width: 40em;
    height: 25em;
}

section article button div {
    width: 80%;
    height: 80px;
    text-align: left;
}

.project_description {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#desc_child {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#desc_child div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 720px){
    section article button {
        flex-direction: column;
    }
}